cffi==1.17.1
click>=8.0.0
pyaes>=1.6.1
pycparser==2.22
pyzbar==0.1.9
pillow>=9.0.0
tabulate>=0.8.0
qreader>=3.0.0
opencv-python>=4.5.0
pytest>=7.0.0
pyyaml>=6.0.1
tqdm>=4.65.0
typing-extensions>=4.7.1
